@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{ 
    int projectsId = 0;
}

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    @{foreach (var page in Umbraco.TypedContentAtRoot())
                                    {
                                        var isProtected = library.IsProtected(page.Id, page.Path);
                                        var loginAccess = library.IsProtected(page.Id, page.Path)
                                        && library.HasAccess(page.Id, page.Path);
                                        var naviHide = (bool)page.GetProperty("umbracoNaviHide").Value;
                                        if (page.Name == "Projects")
                                        {
                                            projectsId = page.Id;

                                        }
                                        if (!isProtected || loginAccess)

                                        {
                                            if (!naviHide)
                                            {
                                    <li class="@(CurrentPage.Name == page.Name ? "active" : null)"><a href="@umbraco.library.NiceUrl(page.Id)">@page.Name</a></li>

                                }
                        }

                        }
                    }


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Projects<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @{

                                foreach (var projectItem in Umbraco.TypedContent(projectsId).Children().Where("!umbracoNaviHide"))

                                {

                                    var isProtected = library.IsProtected(projectItem.Id, projectItem.Path);
                                    var loginAccess = library.IsProtected(projectItem.Id, projectItem.Path)
                                    && library.HasAccess(projectItem.Id, projectItem.Path);

                                    if (!isProtected || loginAccess)
                                    {

                                        <li><a href="@projectItem.Url">@projectItem.Name</a></li>
                                    }

                                }
                            }
                        </ul>































                    </li>
                </ul>
        </div>
            </div>
</nav>

